{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    body {
        background-color: #fff; /* Change the background color to white */
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    .content-section {
        background-color: #fff;
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .content-section legend {
        font-size: 24px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }

    .form-group {
        margin: 20px 0;
    }

    .btn-submit {
        display: inline-block;
        background-color: #2196F3;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .btn-submit:hover {
        background-color: #0b7dda;
    }
</style>

<div class="content-section">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend>Update Profile</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn-submit" type="submit">Update</button>
        </div>
    </form>
</div>
{% endblock content %}
